In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

Goals:\
- Use encoding methods
- Build a scikit-learn pipeline
- feature engineering

In [28]:
# load dataset titanic
path_data = '/home/lemasle/PROJECTS/data/Kaggle_Titanic-Machine_Learning_from_Disaster/'
# Some columns include nans, we import them as strings
input_train = pd.read_csv(path_data+'train.csv', na_values=['NaN'])
input_test = pd.read_csv(path_data+'test.csv'), na_values=['NaN'])

In [3]:
input_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

PassengerId
Survived: Survival 	 (0 = No, 1 = Yes)\
Pclass:   Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)\
Name:     Name\
Sex:      Sex\
Age:      Age in years\
Sibsp:    Number of siblings/spouses aboard the Titanic\
Parch:    Number of parents / children aboard the Titanic\
Ticket:   Ticket number\
Fare:     Passenger fare\
Cabin:    Cabin number\
Embarked: Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

"PassengerId" is an internal label of the dataset - it can be discarded.\
"Name" should not have any influence on the survival, we decide to discard it. Note however that it contains some information, sometimes redundant (Mr, Mrs), sometimes not (Dr).\
"Ticket"  is simply a label, with no influence on the survival. The ticket label may refer to the location/price of the cabin, but this information is inluded in te "Fare" and "Cabin" columns: So we discard "Ticket as well."

In [4]:
def remove_columns(df):

    df.drop(columns=["PassengerId", "Name", "Ticket"], inplace=True)

    return df

In [5]:
input_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

"Age" contains a good number (a bit more than 150) of missing values (NaNs).\
However 2/3rd of the rows contain potentially useful data (very young/very old people probably have a lower chance of survival), so it would be painful to remove the entire column.\
It is possible to fill missing values with the mean or median age, but that would induce data leakage: rows in the train (respectively test) data would get clues about the ages in the test (respectively train) data.

In [31]:
# TBD age

"Cabin" contains a lot (almost 700) of missing values.\
We could remove the entire column, but we would then loose some (potentially useful) information.\
Instead, we can transform this columns to a boolean indicating whether cabin information is available (1) or not (0).\
This is not much information, but better than nothing.

In [29]:
def cabin_to_boolean(df):
    
    df['Cabin'] = np.where(df['Cabin'].isna(), 0.0, 1.0)
    
    return df

"Embarked" contains only two missing values.\
We could always consider removing the two corresponding rows, which would have little impact if they correspond to well-represented passenger profiles, but a higher impact if they happen to be rare occurences of a specific profile.\
Instead, we can impute them the most frequent embarkment spot, the hypotheses being that i) we still have a good chance that this arbitrary assignment is correct ii) the model will still perform better with two potentially wrong embarkment spots than with two full passenger profiles deleted.

In [ ]:
# TBD embarkment impute most frequent.

In [ ]:
def preformat(df_init):
    df = df_init.copy()
    df.loc[:,'relevent_experience'] = df['relevent_experience'].map(relevant_experience_map)
    df.loc[:,'last_new_job'] = df['last_new_job'].map(last_new_job_map)
    df.loc[:,'experience'] = df['experience'].map(experience_map)

    return dfdf.drop

In [ ]:
from sklearn.preprocessing import FunctionTransformer
preformater = FunctionTransformer(preformat)
test = preformater.transform(data)

In [ ]:
# feature engineering: title